.bg{
	background-image: url(clown.jpg);
}
.head-h{height: 100px
}
.head-ty{height: 50px
}
.head-w{height: 1500px
}
.diiiiv{
	height: 50px
}
.diiiiv2{
	height: 275px
}
.diiiiv3{
	height: 200px
}
.reddiv{height:550px}
.ml{margin-left: 160px}
.inp{border: gray; text-align: center;}
.fe{height: 75px; width: 75}
.diiiiv4{
	height: 350px